.navbar-brand { font-weight: 700; letter-spacing: .2px; }
main { max-width: 1100px; margin-inline: auto; }


comment-title,
hands-on-title,
warning-title,
reference-title {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/*---------------------------------------*/
hands-on-title {
  color: #b36b00;
}

comment-title {
  color: #2c3e99;
}

warning-title {
  color: #cc0000;
}

reference-title {
  color: #333333;
}


/*---------------------------------------*/

hands-on-title::before {
  content: "🛠️ ";
  margin-right: 0.3em;
}

comment-title::before {
  content: "💡 ";
  margin-right: 0.3em;
}

warning-title::before {
  content: "⚡ ";
  margin-right: 0.3em;
}

reference-title::before {
  content: "📖 ";
  margin-right: 0.3em;
}

/*---------------------------------------*/

.hands_on {
  background: #ffecc1; 
  padding: 1em;
  margin: 1em 0;
  border-left: 5px solid #e6b800; 
  border-radius: 5px;
}


.comment {
  background: #dfe5f9; 
  padding: 1em;
  margin: 1em 0;
  border-left: 5px solid #2c3e99; 
  border-radius: 5px;
}

.warning {
  background: #ffe5e5; 
  padding: 1em;
  margin: 1em 0;
  border-left: 5px solid #cc0000; 
  border-radius: 5px;
}

.reference {
  background: #cccccc; 
  padding: 1em;
  margin: 1em 0;
  border-left: 5px solid #333333; 
  border-radius: 5px;
}

/*---------------------------------------*/

.flag {
  border: 1px solid #ccc;   /* dünner grauer Rand */
  border-radius: 3px;       /* leicht abgerundet, kein Kreis */
  background-color: white;  /* Weiß als Hintergrund, damit die JP-Flagge klar wirkt */
  padding: 1px;             /* kleiner Abstand zum Rand */
}